name: PullRequest
on: [pull_request]
jobs:
  PullRequest:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Make envfile
        uses: SpicyPizza/create-envfile@v1
        with:
          envkey_POSTGRES_USER: 'postgres'
          envkey_POSTGRES_PASSWORD: '123456'
          envkey_POSTGRES_DB: 'driven_ops'
          envkey_POSTGRES_HOST: 'postgres_db'
          envkey_POSTGRES_PORT: '5432'
          envkey_DATABASE_URL: 'postgresql://postgres:123456@postgres_db:5432/driven_ops'
          file_name: .env.test
      - name: Move envfile to backend
        run: mv .env.test back-end/
      - name: Run container
        run: docker-compose -f docker-compose.ci.yml run node_app
      - name: Run tests
        run: npm run test
